<!DOCTYPE html>
<html ng-app="playSeriesApp">
<head>
	<meta charset="utf-8">
	<title>You series here!</title>

	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css"> 

  <script src="lib/jquery/jquery-3.2.1.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/bootstrap/bootstrap.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/playSeriesAppCtrl.js"></script>
  <script src="js/services/seriesService.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
  <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon"/>

</head>

<body class="background_color" ng-controller="playSeriesAppCtrl">

	<div class="container">

    <!-- SEARCH BAR -->
	<nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Your series here!</a>
        </div>
        <!-- div id="navbar" class="navbar-collapse collapse"> -->
          <ul class="nav navbar-nav">
            <li><a href="#home" data-toggle="tab">Home</a></li>
            <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
            <li><a href="#watchlist" data-toggle="tab">Watchlist</a></li>

            <form class="navbar-form navbar-left">
              <div class="input-group">
                <input ng-model="serie" type="text" class="form-control" placeholder="Search Series...">
                  <div class="input-group-btn">
                    <button class="btn btn-default btn-block" type="submit" data-toggle="tab" data-target="#home" ng-click="getSeries(serie)">
                      <i><img class="iconeBusca" src="icons\lupa.png"></i>
                    </button>
                   </div>
              </div>
            </form>
            <!-- Sign in and login -->
            <ul id="navbarRight" class="nav navbar-nav navbar-right">
              <li><a href="#" data-toggle="modal" data-target="#registrationModal"
              ng-show="!IsloggedIn()"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>

              <li><a href="#" data-toggle="modal" data-target="#loginModal"
              ng-show="!IsloggedIn()"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>

              <li id="entrarCadastrar" ng-show="hasLogado()"><div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              {{"Hello, " + loggedIn.nome + "!"}}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-click="signOut()">Sign Out</a></li>
              </ul>
            </div></li>
            </ul>
          </ul>
        </div>
      </div>  
    </nav>

    <div class="tab-content">

      <!-- LIST OF SEARCHERED SERIES -->

      <div id="home" class="tab-pane">
        <md-list-item ng-repeat="serie in series">
          <div class="col-lg-3">
            <div class="hoverzoom">
              <div id="thumbsize" class="thumbnail grow">
                <img id="imageFormat" src="{{serie.Poster !== 'N/A' ? serie.Poster:'http://v0.static.betalabs.com.br/wilson-589a360948d61/ecommerce/aleatorium/img/unavailable.jpg'}}"  alt="">                
                <div class="retina">
                  <p>{{serie.Title}}</p>
                  <button class="btn btn-primary btn-block" ng-click="addSerieToProfile(serie)">Add to Perfil</button>
                  <button class="btn btn-warning btn-block" ng-click="addSerieToWatchlist(serie)">Add to Watchlist</button>
                </div>  
              </div>
            </div>
          </div>          
        </md-list-item>
      </div>

      <!-- PROFILE SERIES -->

      <div id="profile" class="tab-pane in active">
        <md-list-item ng-repeat="serie in profile">
          <div class="col-lg-3">
            <div class="hoverzoom">
              <div id="thumbsize" class="thumbnail grow">
                <img id="imageFormat" src="{{serie.Poster !== 'N/A' ? serie.Poster:'http://v0.static.betalabs.com.br/wilson-589a360948d61/ecommerce/aleatorium/img/unavailable.jpg'}}" alt="">
                <div class="retina">
                  <p>{{serie.Title}}</p>
                  <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#sinopseSerie{{$index}}">About</button>
                  <button class="btn btn-danger btn-block" ng-click="removeProfileSerie(serie)">Remove from Prolile</button>
                </div>
              </div>
            </div>
          </div>

          <!-- SERIE MODAL -->
          <div div id="sinopseSerie{{$index}}" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

              <!-- CONTENT -->
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title alinhacentro">{{serie.Title}}</h4>
                </div>
                
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-4">
                      <img id="imageFormat" src="{{serie.Poster !== 'N/A' ? serie.Poster:'http://v0.static.betalabs.com.br/wilson-589a360948d61/ecommerce/aleatorium/img/unavailable.jpg'}}" alt="">
                    </div>
                    <div class="col-md-8 sinopse"><p>{{serie.Plot}}</p>
                    </div>
                    <div class="col-md-8 info">
                      <p><b>Average on IMDb:</b> {{serie.imdbRating}}</p>
                      <p><b>Indicative classification:</b> {{serie.Rated}}</p>
                      <div class="input-group input">
                        <input ng-model="rating" type="text" class="form-control" placeholder="Ex.: 8.5">
                        <div class="input-group-btn">
                          <button class="btn btn-basic" type="submit" ng-click="personalRating(serie, rating)"><i>Ok</i></button>
                        </div>
                      </div>
                      <p><b>Your rating:</b> {{serie.myRating}}</p>

                      <div class="input-group input">
                        <input ng-model="episode" type="text" class="form-control" placeholder="Ex.: T01 - EP05">
                          <div class="input-group-btn">
                          <button class="btn btn-basic" type="submit" ng-click="lastEpisode(serie, episode)"><i>Ok</i></button>
                          </div>
                      </div>
                      <p><b>Last seen episode:</b> {{serie.lastSeenEpisode}}</p>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>
          
        </md-list-item>        
      </div>

      <!-- WATCHLIST -->
      <div id="watchlist" class="tab tab-pane">
        <md-list-item ng-repeat="serie in watchlist">
          <div class="col-lg-3">
            <div class="hoverzoom">
              <div id="thumbsize" class="thumbnail grow">
                <img id="imageFormat" src="{{serie.Poster !== 'N/A' ? serie.Poster:'http://v0.static.betalabs.com.br/wilson-589a360948d61/ecommerce/aleatorium/img/unavailable.jpg'}}" alt="">
                <div class="retina">
                  <p>{{serie.Title}}</p>
                  <button class="btn btn-primary btn-block" ng-click="addSerieToProfile(serie)">Add to Profile</button>
                  <button class="btn btn-danger btn-block" ng-click="removeWatchlistSerie(serie)">Remove from Watchlist</button>
                </div>
              </div>
            </div>  
          </div>
        </md-list-item>
      </div>

      <!-- REGISTRATION MODAL -->
      <div id="registrationModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- CONTENT-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title alinhacentro">Fill in the fields below to register</h4>
            </div>

            <div class="modal-body">
              <form class="form-horizontal">
                <fieldset>
                  <!-- NAME INPUT -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="idName">Name:</label>
                    <div class="col-md-5">
                      <input ng-model="idName" type="text"
                        placeholder="Enter your name..." class="form-control input-md" ng-required="true"/>
                    </div>
                  </div>

                  <!-- EMAIL INPUT -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="idUser">Email:</label>
                    <div class="col-md-5">
                      <input ng-model="idLogin" type="text"
                        placeholder="Enter your email address..." class="form-control input-md" ng-required="true"
                        ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"/>
                    </div>
                  </div>

                  <!-- PASSWORD INPUT -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="idPassword">Password:</label>
                    <div class="col-md-5">
                      <input ng-model="idPassword" type="password"
                        placeholder="Choose your password..." class="form-control input-md" ng-required="true"/>
                    </div>
                  </div>
                  
                  <!-- PASSWORD INPUT -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="idPassword2">Confirm password:</label>
                    <div class="col-md-5">
                      <input ng-model="idPassword2" type="password"
                        placeholder="Confirm your password..." class="form-control input-md" ng-required="true" />
                    </div>
                  </div>

                  <!-- BUTTON -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="idConfirm"></label>
                    <div class="col-md-8">
                      <button ng-disabled="!idName || !idLogin || !idPassword || idPassword != idPassword2"
                        class="btn btn-primary"
                        ng-click="registerClient(idName, idLogin, idPassword)" data-dismiss="modal">Create account</button>
                    </div>
                  </div>
                </fieldset>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default"
                data-dismiss="modal">Cancel</button>
            </div>
          </div>

        </div>
      </div>
      
      <!-- LOGIN MODAL -->
      <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- CONTENT -->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title alinhacentro">Sign in to PlayAppSeries</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <fieldset>

                  <!-- EMAIL INPUT -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="idUser">Email:</label>
                    <div class="col-md-5">
                      <input ng-model="idLoginLG" type="text"
                        placeholder="Enter your email address..." class="form-control input-md" ng-required="true"
                        ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"/>
                    </div>
                  </div>

                  <!-- PASSWORD INPUT -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="idPassword">Password:</label>
                    <div class="col-md-5">
                      <input ng-model="idPasswordLG" type="password"
                        placeholder="Inform your password..."
                        class="form-control input-md" ng-required="true"/>
                    </div>
                  </div>
                  
                  <!-- BUTTON -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="idConfirm"></label>
                    <div class="col-md-8">
                      <button ng-disabled="!idLoginLG || !idPasswordLG"
                        class="btn btn-primary"
                        ng-click="authenticateClient(idLoginLG, idPasswordLG)" data-dismiss="modal">Log in</button>
                    </div>
                  </div>
                </fieldset>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default"
                data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div> 
</body>
</html>